body {
  font-family: var(--font-family);
  background-color: var(--surface-900);
}

.p-orderlist-controls > button {
  background-color: red;
}

.p-orderlist-controls > button:hover {
  background-color: rgb(74, 255, 107) !important;
}

.p-orderlist-list > .p-orderlist-item {
  border-radius: 4px;
  background-color: #ccfbf1 !important;
  border: 1px solid #99f6e4 !important;
}

ul.p-orderlist-list {
  background-color: #f0fdfa !important;
  border: none !important;
}
